cffi==2.0.0
click==8.1.8
cryptography==46.0.5
exceptiongroup==1.3.1
-e git+https://github.com/20058340/firmware-signer.git@31fe2c6f1fd111c4e1902a8cb64ad1e52744e402#egg=firmware_signer
iniconfig==2.1.0
packaging==26.0
pluggy==1.6.0
pycparser==2.23
Pygments==2.19.2
pytest==8.4.2
tomli==2.4.0
typing_extensions==4.15.0
